<!DOCTYPE html>
<html>
  <head>
    <title>InitialApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- ヘッダー -->


    <!-- ヘッダーここまで -->
    <!-- メイン -->
    <div class="container">
      <%= yield %>
    </div>
    <!-- メインここまで -->
    <!-- フッター -->

    <!-- フッターここまで -->

  </body>
</html>
